div {
    background-color: aqua;
}

body {
    margin: 2rem;
}
nav ul {
    justify-content: left;
}

nav li {
    float: left;
    margin-right: auto;
}

nav li:last-child {
    margin-right: 0rem;
}

nav a {
    display: flex;
    padding: 2rem;
}
